//- extends layout
//- block content
//-     <form action="/user" method="post">
//-         p
//-         select(name='dropDown',id='')
//-             each item in items
//-                 option(=item.id) #{value=item.id+' '}#{value=item.name}
//-         buttons
//-             input(type='submit', value='Get Student')
//-     </form>
//-     hr
//-     <form action="/user" method="put">
//-         p
//-         select(name='dropDown1',id='')
//-             each item in items
//-                 option(=item.id) #{value=item.id+' '}#{value=item.name}
//-         buttons
//-             input(type='submit', value='Update Student')
//-         //input(type='text', placeholder='Name', name='Name')
//-         //input(type='text', placeholder='Age', name='Age')
//-     </form>
//-     hr
//-     <form action="/" method="delete">
//-         p
//-         select(name='dropDown2',id='')
//-             each item in items
//-                 option(=item.id) #{value=item.id+' '}#{value=item.name}
//-         buttons
//-             input(type='submit', value='Delete Student')
//-     </form>

extends layout

block content
    <form action="/user" method="post">
        p
        select(name='dropDown',id='')
            each item in items
                option(=item.id) #{value=item.id+' '}#{value=item.name}
        buttons
            input(type='submit', value='Get Student')
    </form>

    if items.length > 0
        table
            thead
                tr
                    th ID
                    th Name
                    th Age
                    th Edit
                    th Delete
            tbody
                each item in items
                    tr
                        td= item.id
                        td= item.name
                        td= item.age
                        td
                            a(href=`/edit-student/${item.id}`) 
                                button(type="button") Edit
                        td
                            form(action=`/api/user/${item.id}`, method="POST")
                                input(type="hidden", name="_method", value="DELETE")
                                button(type="submit") Delete
        a(href="/add-student")
            button(type="button") Add Student
    else
        p No students found.